.footer {
   display: flex;
   flex-direction: row; 
   justify-content: space-evenly;
}

/* Explore Page */

.explorePageTitle {
    position: relative;
    left: 40%;
    margin-top: 5%;
    margin-bottom: 60px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 510;
    font-size: 280%;
}

.podcastsBtn {
    background: #0E1520;;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 15px;
}

.categoriesBtn {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
    margin-top: 15px;
}

.creatorsBtn {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
    margin-top: 15px;
}

.topicsBtn {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
    margin-top: 15px;
}

.episodesBtn {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
    margin-top: 15px;
}

.explorePageButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

Search {
    display: flex;

}


/* Sign Up Form */

.form {
display: flex;
flex-direction: column;
width: 100%;
color: #0E1520;
}

.formLayoutSignup {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 40px;
    width: 30%;
    font-weight: 600;
    display: flex;
   justify-content: center;
   text-align: center;
   margin: auto;
   margin-top: 3%;
}

input {
    background-color: #ffffff;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0E1520;
    font-weight: 600;
  }
  
  input[type=submit] {
    width: 100%;
    color: #0E1520;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .signUpBtn {
    background-color:#0E1520;
  }

  /* Log In Form */

  .formLayoutLogin {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 40px;
    width: 30%;
    font-weight: 600;
    display: flex;
   justify-content: center;
   text-align: center;
   margin: auto;
   margin-top: 3%;
   font-weight: 600;
}

  .logInBtn {
    background-color:#0E1520;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0E1520;
    font-weight: 600;
  }


/* Home Page */

body {
    width: 100%;
    min-height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #0E1520;
}

.logo {
    width: 180px;
    height: 200x;
    margin-right: 250px;
    margin-left: 170px;
    }

.homePageBGImg {
    position: relative;
    width: 100%;
    height: 50%;
}

.homePageBGImg2 {
    width: 35%;
    height: 30%;
    margin-top: -50%;
    margin-bottom: 30px;
    margin-left: 50%;
    position: inherit;
}


.homePageBGTitle1 {
    position: relative;
    margin-top: -35%;
    left: 10%;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 600;
}

.homePageBGTitle2 {
    position: relative;
    left: 10%;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 600;
}

.homePageP1 {
    position: relative;
    margin-top: 5%;
    left: 10%;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: -10px;
}

.homePageP2 {
    position: relative;
    left: 10%;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}

.homePageBtn {
    position: relative;
    left: 10%;
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 1.2em;
}


/* NavBar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(165, 165, 199);
    box-shadow: 0 5px 15px  rgba(182, 155, 155, 0.06);
    background-color: #0E1520;
    margin: -45px;
    width: 1490px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 120px;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
    position: relative;

}

#navbar li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color:#fff;
    transition: 0.3s ease-in-out;
    font-weight: 450;
}

#navbar li a:hover,
#navbar li a.active{
    color: #266aca;
}

#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width:65%;
    height:2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 15px;
}

#mobile i{ 
    color:#fff;
    align-items: center;

}

@media screen and (max-width:769px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: 0px; 
        width: 300px;
        height: 100vh;
        background: darkblue;
        box-shadow: 0 40px 60px rgba(0,0,0,);
        padding: 40px 0 0 10px;

    }
}

#mobile { 
    display : block;
}

#navbar li{
   margin-bottom: 25px;
}

#mobile { 
    font-size: 24px;
}

.searchBtn {
    width: 20px;
    height: 15px;
    display: flex;
    margin-top: 14px;
}

.searchBar {
    width: 130px;
    height: 22px;
    display: flex;
    border:#266aca;
    background-color: #D9D9D9;
    color: #0E1520;
}


/* Home Page Categories */

.exploreCategoriesTitle {
    position: relative;
    left: 29%;
    margin-top: 20%;
    margin-bottom: 60px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 510;
    font-size: 280%;
}

.exploreCategoriesPodcastText {
  color:#2150f8;
}


/* Profile Page */

.profilePageTitle {
    position: relative;
    margin-top: 10%;
    left: 40%;
    margin-bottom: 60px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 510;
    font-size: 350%;
}

.viewProfileBtn {
    position: relative;
    left: 40%;
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    margin-top: 50px;
    font-size: 1.2em;
}

.profileButtons {
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 50px;
margin-left: 20%;
margin-right: 20%;
}

.favPodcastsBtn {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
}

.podcastsBtn {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
}

.viewPodcastsBtn {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
}

.avatar-uploader {
    margin-left: 46%;
}

/* Create Podcast */
.createPodcast {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 30px;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    font-weight: 600;
   justify-content: center;
   text-align: center;
   margin: auto;
   margin-top: 3%;
   font-weight: 600;
}


.createPodcastForm {
    color: #0E1520;
}

.createPodcastBtn {
    background: #0E1520;;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 15px;
}

.createPodcastBtnBack {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 15px;
}

.podcastCreator {
    font-size: 30px;
    margin-bottom: 30px;
}

.chooseCategory {
    background-color: #FFFFFF;
}

/* Your Podcasts */

.allPodcastsForm {
   text-align: center;
   font-size: 10px;
}

.flex-container {
    display: flex;
    margin-top: 5%;
}

.updatePodcastBtn {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-right: 5px;
    margin-left: 2px;
}

.addReviewBtn {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-right: 5px;
}

.deleteBtn {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-right: -10px;
}

.yourPodcastsTitle {
    position: relative;
    left: 38%;
    margin-bottom: 60px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 510;
    font-size: 300%;
    font-weight: 600;
}

.backBtnPodcast {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 20%;
    margin-left: 40%;
}

.ant-card-ant-card-bordered-allPodcastsForm-css-dev-only-do-not-override-1me4733 {
    color: #FFFFFF;
}

/* All Podcasts Form */
.allPodcastsForm {
font-size: 10px;
}

.yourProfileTitle {
    position: relative;
    left: 39%;
    margin-bottom: 60px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 510;
    font-size: 300%;
    font-weight: 600;
}

.backBtnProfile {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 20%;
    margin-right: 20%;
    margin-left: 40%;
}

.updateProfileBtn {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
    width: 25%;
}

.deleteProfileBtn {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
    width: 25%;
}

.ant-card.ant-card-bordered.allPodcastsForm.css-dev-only-do-not-override-1me4733 {
    left: 31%;
}

/* Update Profile */

.updateProfile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#FFFFFF;
}

.updateProfileForm {
    border-radius: 5px;
    background-color:#FFFFFF;
    padding: 40px;
    width: 30%;
    font-weight: 600;
    display: flex;
   justify-content: center;
   text-align: center;
   margin: auto;
   margin-top: 3%;
   color: #0E1520;
}

.updateProfileBtnView {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
    width: 25%;
}

.deleteProfileBtnView {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 15px;
    width: 25%;
    padding: 0.8em 2.3em;
}

.updateProfileButton {
    background: #0E1520;
    border-radius: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    padding: 0.8em 2.3em;

}

.backBtnProfile2 {
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 100%;
    margin-right: 20%;
    margin-left: 1%;
    background-color: #0E1520;
}

.ant-card-body {
    margin: -15px;
}

/* Update Podcast */
.updatePodcastForm {
    color: #0E1520;
}
.updateProfileTitle {
position: relative;
    margin-top: 5%;
    left: 38%;
  margin-bottom: 10px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 510;
    font-size: 300%;
}

.updatePodcast {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 30px;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    font-weight: 600;
   justify-content: center;
   text-align: center;
   margin: auto;
   margin-top: 3%;
   font-weight: 600;
}

.podcastCategory {
    background-color: #FFFFFF;
}

.backBtnProfile2 {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    font-size: 1.1em;
}

.updateProfileBtn {
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    color: #0E1520;
    width: 100%;
    font-size: 1.1em;
    margin-left: -2px;
}

.birthdayBtn {
    background-color: #FFFFFF;
    width: 99%;
    height: 35px;
    border-radius: 4px;
    margin-left: -5px;
    border-style: groove;
    border-width: 1px;
    margin-bottom: 10px;
    color:#0E1520;
    text-align: center;
    }


/* Explore Categorie Buttons 1 */

.exploreCategorieRow1 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.comedyBtn {
    width: 200px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 40px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.comedyBtn:hover {
    width: 200px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.artBtn {
    width: 170px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.artBtn:hover {
    width: 170px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.newsBtn {
    width: 170px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.newsBtn:hover {
    width: 170px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.scienceBtn {
    width: 200px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.scienceBtn:hover {
    width: 200px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.techBtn {
    width: 250px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.techBtn:hover {
    width: 250px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.educationBtn {
    width: 250px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}
.educationBtn:hover {
    width: 250px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

/* Explore Categorie Buttons 2 */

.exploreCategorieRow2 {
    margin-top: 35px;
    margin-right: 20px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.healthBtn {
    width: 250px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.healthBtn:hover {
    width: 250px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.fictionBtn {
    width: 170px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.fictionBtn:hover {
    width: 170px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.musicBtn {
    width: 160px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.musicBtn:hover {
    width: 160px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.societyBtn {
    width: 280px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.societyBtn:hover {
    width: 280px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.historyBtn {
    width: 160px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.historyBtn:hover {
    width: 160px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

/* Explore Categorie Buttons 3 */

.exploreCategorieRow3 {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 10px;
}

.sportsBtn {
    width: 160px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.sportsBtn:hover {
    width: 160px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.truecrimeBtn {
    width: 200px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.truecrimeBtn:hover {
    width: 200px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.religionBtn {
    width: 310px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.religionBtn:hover {
    width: 310px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.tvBtn {
    width: 190px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.tvBtn:hover {
    width: 190px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

.businessBtn {
    width: 170px;
    height: 65px;
    background: #e9e9e9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
}

.businessBtn:hover {
    width: 170px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 30px;
    color: #0E1520;
    font-size: 18px;
    font-weight: 550;
    background: linear-gradient(180deg, #CA73FE 0%, rgba(11, 78, 255, 10) 100%);
    border-radius: 30px;
    border:#D9D9D9;
}

/* About Talk Tune Home Page */

.aboutTalkTuneTalk {
    color:#2150f8;
}

.aboutTalkTuneTitle {
position: relative;
left: 60%;
margin-top: 17%;
margin-bottom: 60px;
font-style: normal;
color: #FFFFFF;
font-weight: 510;
font-size: 300%;
}

.aboutTalkTuneText {
    position: relative;
    left: 61%;
    font-size: 20px;
    margin-top: -10px;
}

.talkTuneYoutubeImg {
    position: relative;
    left: 5%;
    margin-top: -20%;
}

/* Top Podcasts */

.topPodcastsTitleText {
    color:#2150f8;
}

.topPodcastsTitle {
    position: relative;
    left: 35%;
    margin-top: 15%;
    margin-bottom: 50px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 510;
    font-size: 280%;
}