.allPodcasts {
    width: 200%;
}

body {
    background-color: #184a9a;
}



.updateProfileBtn {
position: absolute;
width: 238px;
height: 25px;

font-family: 'Alef';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 170%;
}


.VeiwProfileBtn{
position: absolute;
width: 238px;
height: 25px;

font-family: 'Alef';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 170%;
/* or 51px */


color: #d8dfe9;

}
.container {
    display: flex;
    align-items: center;
    display: direction;
}

.user-prof{
    display: flex;
}

.user-prof, h1{
    text-align: left;
}